body {
    background-color: rgb(175, 228, 230);
}


#box1 {
    width: 250px;
    height: 400px;
    background-color: azure;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border: 2px solid rgb(202, 202, 248);
    border-radius: 10px;
}

#box1 h2 {
    text-align: center;
}

.form {
    margin: 10px;
    font-size: 20px;
    font-family: Geneva;

}


.form input {
    width: 220px;
    height: 23px;
}

#submit {
    margin-left: 10px;
    height: 25px;
}

.fa {
    position: absolute;
    right: 545px;
    margin-top: 5px;

}

.form span {
    display: none;
}

.form.success input {
    border-color: green;
}

.form.success .fa {
    color: green;
}


.form.error input {
    border-color: red;
}

.form.error .fa {
    color: red;
}

.form.error span {
    color: red;
    display: block;
    font-size: 11px;
}